---
title: Welcome
layout: default
---
{% assign useComments = false %}

<div class="blog">
  <div class="blogArticles">
  
      {% for post in site.posts %}
      <div class="blogPost"><a href="{{ post.url }}" class="shapeshifter">
        <h1>{{ post.title }}</h1>
        <p>{{ post.excerpt }}</p>
        <p class="authorDate">{{ site.authors[post.author].name }} — {{ post.date | date_to_string }}</p>
        {% if post.comments %}
          <p class="commentsLink"><a href="{{ post.url }}#comments" data-disqus-identifier="{{ post.url }}"></a></p>
          {% assign useComments = true %}
        {% endif %}
      </a></div>
      {% endfor %}
  
  </div>
</div>

{% if useComments %}
<script type="text/javascript">
var disqus_shortname = 'apiaryblog';
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endif %}