<!-- website-footer -->
  <section class="bottomCallToAction bottomCallToActionBg"><div class="positioning">
    <div class="githubLoginButton">
      <a class="githubLoginButtonLink" href="https://github.com/login/oauth/authorize?client_id=f739c33cbd5c32296a43&redirect_uri=https%3A%2F%2Flogin.apiary.io%2Fgithub%2Flogin"><span class="githubLoginButtonInside">Quick start with GitHub</span></a>
      <p>No GitHub? <a href="https://login.apiary.io/register">Sign up with e-mail!</a></p>
    </div>
  </div></section>
  <hr>

<footer class="applicationFooter">

  <div class="applicationFooterRow">
    <div class="applicationFooterColumns">
    <div class="applicationFooterColumn">
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Platform</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="https://apiary.io/how-it-works">How It Works</a></li>
        <li><a class="applicationFooterListLink" href="https://apiary.io/products">Product</a></li>
        <li><a class="applicationFooterListLink" href="https://enterprise.apiary.io/">Enterprise</a></li>
        <li><a class="applicationFooterListLink" href="https://apiary.io/pricing">Pricing</a></li>
        <li><a class="applicationFooterListLink" href="https://apiary.io/blueprint">API Blueprint Tutorial</a></li>
        <li><a class="applicationFooterListLink" href="https://support.apiary.io ">Help</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Company</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="http://blog.apiary.io/">Blog</a></li>
        <li><a class="applicationFooterListLink" href="https://apiary.io/company">Team</a></li>
        <li><a class="applicationFooterListLink" href="https://apiary.io/jobs">Jobs</a></li>
        <li><a class="applicationFooterListLink" href="https://apiary.io/contact">Contact</a></li>
        <li><a class="applicationFooterListLink" href="https://apiary.a.ssl.fastly.net/assets/files/apiary-press-kit-29b1ca7e9b466854.zip">Press Kit</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Open Source</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="https://apiblueprint.org">API Blueprint</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/snowcrash">Snow Crash</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/gavel">Gavel</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/dredd">Dredd</a></li>
        <li><a class="applicationFooterListLink" href="https://client.apiary.io">Apiary CLI</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Social</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio">GitHub</a></li>
        <li><a class="applicationFooterListLink" href="https://twitter.com/apiaryio">Twitter</a></li>
        <li><a class="applicationFooterListLink" href="https://facebook.com/apiary.io">Facebook</a></li>
        <li><a class="applicationFooterListLink" href="https://plus.google.com/114367708466177247933/about">Google+</a></li>
        <li><a class="applicationFooterListLink" href="https://dribbble.com/apiary">Dribbble</a></li>
      </ul>
    </div></div>
  </div>

  <div class="applicationFooterRow">
    <p class="applicationFooterCopyright">&copy; Apiary Ltd. All rights reserved. <span class="applicationFooterCopyrightLinks">• <a href="https://apiary.io/tos" class="applicationFooterCopyrightLink">Terms</a> • <a href="https://www.iubenda.com/privacy-policy/323220" class="applicationFooterCopyrightLink">Privacy</a></span></p>
  </div>
</footer>
<!-- /website-footer -->

