<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>apiary.io — REST API Tools Company</title>
  <meta name="description" content="…">
  <meta name="author" content="apiary.io @janmoravec @jakubnesetril">

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<link rel="shortcut icon" href="{{ site.static }}/favicon.ico">
  <link rel="apple-touch-icon" href="{{ site.static }}/apple-touch-icon.png">-->

  <link rel="stylesheet" href="{{ site.static }}/css/font-awesome.css?v={{ site.version }}">
  <link rel="stylesheet" href="{{ site.static }}/homepage/css/style.css?v={{ site.version }}">
  
  <script src="{{ site.static }}/js/libs/modernizr-1.7.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='{{ site.static }}/js/libs/jquery-1.7.1.min.js'>\x3C/script>")</script>
  
</head>

<body class="blog">

  <div id="container">

    <header>
      <div id="stripe">
        <div id="mainMenu">
          <a href="/"><img src="{{ site.static }}/homepage/css/design/apiaryIOlogo.png" width="105" height="31"></a>
          <ul>
            {% for item in site.menu %}
            <a href="{{ item[0] }}"{% if item[1] == 'Blog' %} class="selected"{% endif %}><li>{{ item[1] }}</li></a>
            {% endfor %}
          </ul>
        </div>
        <div id="userMenu">
          <ul>
            <!--<a class="cta" href="/register"><li><em>Sign Up For Free!</em></li></a>-->
            <a href="/login"><li>Sign In</li></a>
          </ul>
        </div>
      </div>
    </header>

    <div id="content">
    {{ content }}
    </div>

    <footer>
      <div id="shadowHackTwo"></div>
      <!--<section id="quotes">
        <div id="q1" class="quote">
          <h1>apiary.io aims to take the headache out of API creation and documentation</h1>
          <p>—TechCrunch</p>
        </div>
        <div id="q2" class="quote">
          <h1>New solution that makes developing, implementing and sharing APIs quicker.</h1>
          <p>—ProgrammableWeb</p>
        </div>
        <div id="q3" class="quote">
          <h1>This new wave has a chance to change the conversation around APIs dramatically in 2012.</h1>
          <p>—API Evangelist</p>
        </div>
      </section>
      <div class="line black"></div>
      <div class="line white"></div>-
      <div id="twitter">
        <a href="http://twitter.com/apiaryio" target="_blank" title="Follow us on Twitter!"><img src="{{ site.static }}/homepage/css/design/twitterBird.png" width="33" height="24"></a>
      </div>
      <div class="line black"></div>
      <div class="line white"></div>
      <div id="prizes">
        <a href="http://springboard.com" target="_blank" title="We took part in start-up accelerator Springboard, held in Cambridge, United Kingdom in Summer 2011."><img src="{{ site.static }}/homepage/css/design/springboard.png" width="119" height="28"></a>
        <a href="http://nodeknockout.com/" target="_blank" title="apiary.io (former WrathJS) won the utility category in node.js hackathon Node Knockout in Autumn 2010 with its first prototype."><img src="{{ site.static }}/homepage/css/design/nodeKO.png" width="137" height="37"></a>
      </div>-->
      <div id="footNotes">
        <p id="copyrights">Copyright 2012 Apiary Ltd. All rights reserved.</p>
        <p id="interaction">Follow us on <a href="http://twitter.com/apiaryio" target="_blank">Twitter</a> • <a href="/team">Contact Us</a></p>
      </div>
      <!--<div id="evilBee"></div>-->
    </footer>
  </div> <!-- end of #container -->
  
  <!--[if lt IE 7 ]>
    <script src="{{ site.static }}/homepage/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

{{ tracking }}

</body>
</html>
