<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}&mdash;Apiary Blog</title>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="author" content="Apiary">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}} Feed" href="{{site.url}}/feed.xml" />

  <!-- Styles -->
  <link rel="stylesheet" href="http://apiary-static.s3.amazonaws.com/assets/styles/fonts.css">
  <link rel="stylesheet" href="http://apiary-static.s3.amazonaws.com/assets/styles/modules/footer/footer.css">
  <link rel="stylesheet" href="http://apiary-static.s3.amazonaws.com/assets/styles/modules/website.css">
  <!-- /Styles -->

  {{ site.tracking }}

</head>
<body class="website">

<!-- website-header -->
  <header id="websiteHeader"><div class="positioning">
    <a class="headerLogotypeLink" href="http://apiary.io/"><h1 class="visuallyhidden" title="Apiary Ltd.">Apiary</h1><div class="headerLogotype"></div></a>
    <a class="to_nav" href="#navigation"><span class="visuallyhidden">Go to Navigation</span></a>
  </div></header>
<!-- /website-header -->

<!-- website-navigation -->
  <div id="navigation">
    <nav class="websiteNav positioning">
      <ul class="clearAfter websiteNavMenu">
        {% for item in site.menu %}
        <li class="websiteNavItem"><a class="websiteNavLink" href="{{ item[0] }}">{{ item[1] }}</a></li>
        {% endfor %}
      </ul>
      <a class="websiteNavLink websiteNavLinkHighlighted" href="https://login.apiary.io/register" class="signIn">Sign Up</a>
      <a class="websiteNavLink backToTop" href="#~"><span class="visuallyhidden">Back to top</span></a>
    </nav>
  </div>
<!-- /website-navigation -->

<div>
  {{ content }}
</div>

<!-- website-footer -->
  <hr>

<footer id="applicationFooter">

  <div class="applicationFooterRow">
    <!--<aside class="applicationFooterColumn">
      <a class="applicationFooterLogo" href="">
        <span class="applicationFooterLogoContainer">
          <i class="logo passiveLogo"></i><i class="logo activeLogo"></i>
        </span>
        <span class="applicationFooterLogotypeContainer">
          <i class="logotype passiveLogotype"></i><i class="logotype activeLogotype"></i>
        </span>
      </a>
    </aside>-->
    <div class="applicationFooterColumns">
    <div class="applicationFooterColumn">
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Platform</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="http://apiary.io/how-it-works">How It Works</a></li>
        <li><a class="applicationFooterListLink" href="http://support.apiary.io ">Help</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Company</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="http://blog.apiary.io/">Blog</a></li>
        <li><a class="applicationFooterListLink" href="http://apiary.io/company#team">Team</a></li>
        <li><a class="applicationFooterListLink" href="http://apiary.io/company#contact">Contact</a></li>
        <li><a class="applicationFooterListLink" href="http://apiary-static.s3.amazonaws.com/assets/files/apiary-press-kit.zip">Press Kit</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Open Source</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="http://apiblueprint.org">API Blueprint</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/snowcrash">Snowcrash</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/gavel">Gavel</a></li>
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio/dredd">Dredd</a></li>
      </ul>
    </div><div class="applicationFooterColumn">
      <h3 class="applicationFooterTitle">Social</h3>
      <ul class="applicationFooterList">
        <li><a class="applicationFooterListLink" href="https://github.com/apiaryio">GitHub</a></li>
        <li><a class="applicationFooterListLink" href="https://twitter.com/apiaryio">Twitter</a></li>
        <li><a class="applicationFooterListLink" href="https://facebook.com/apiary.io">Facebook</a></li>
      </ul>
    </div></div>
  </div>

  <div class="applicationFooterRow">
    <p class="applicationFooterCopyright">&copy; Apiary Ltd. All rights reserved. <span class="applicationFooterCopyrightLinks">• <a href="http://apiary.io/tos" class="applicationFooterCopyrightLink">Terms</a> • <a href="https://www.iubenda.com/privacy-policy/323220" class="applicationFooterCopyrightLink">Privacy</a></span></p>
  </div>
</footer>
<!-- /website-footer -->

<script>
  var scrolledMuch = false;
  document.onscroll = function () {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      if (!scrolledMuch) {
        scrolledMuch = true;
        document.body.id = 'scrollBody';
      }
    }
    else {
      if (scrolledMuch) {
        scrolledMuch = false;
        document.body.id = 'noscrollBody';
      }
    }
  }
  if ('ontouchstart' in document.documentElement) {
    /*
    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
    }
    else {
      setTimeout(function(){window.scrollTo(0,0);},10);
    }
    */
  }
  var d = document.getElementById('promo'), h = document.getElementById('websiteHeader'), w, recompute = function() {
    w = Math.max(window.innerHeight, 850);
    d.children[0].style.marginTop = ((w - 124) / 2) + 100 - (Array.prototype.slice.call(d.children, 0).reduce(function(a, b) { return a+b.offsetHeight }, 0) / 2) + 'px';
    d.style.minHeight = (window.innerHeight - 30) + 'px';
  };
  if (d && h) {
    recompute();
    window.onresize = recompute;
  }

  document.documentElement.className += ' js';
</script>
</body>
</html>
